
.bi {
vertical-align: -.125em;
fill: currentColor;
}


.button {
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
.button:hover{
    background-color: deepskyblue;
    color: #fff;
    border-color: deepskyblue;
}

.btn-bd-primary {
  background-color: #712cf9;
  color: #fff;
  border-color: #712cf9;   
}

.btn-bd-primary:hover{
  color: #fff;
  background-color: #6528e0;
  border-color: #6528e0;    
}
.bd-mode-toggle {
z-index: 1500;
}


.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}


.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 20px;    
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }

/* collection */
.active-filter-btn{
    background-color: deepskyblue;
    color: #fff;
    border-color: deepskyblue;
}

.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

/* Стили для модального окна */
.modal-body img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.modal-body p {
  margin: 10px 0;
}

.form-group {
  margin-top: 20px;
}

/* offers */
#offers{
    background: url(/img/about_us.jpg) center/cover no-repeat;
}
#offers .row{
    min-height: 60vh;
}
.offers-content span{
    font-size: 28px;
}
.offers-content h2{
    font-size: 60px;
    font-family: var(--lg-font);
}
.offers-content .btn{
    border-color: transparent;
}


#newsletter p{
    max-width: 600px;
}
#newsletter .input-group{
    max-width: 500px;
}
#newsletter .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#newsletter .button{
    background-color: deepskyblue;
    color: #fff;
    border-color: deepskyblue;
}
#newsletter .button:hover{
    background-color: red;
    border-color: red;
}

.accordion-button {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.accordion-button:hover {
  color: #fff;
  background-color: #1a88ff;
  border-color: #1a88ff;
} 

/* Header Parallax Element Style*/ 
.paral {
min-height: 600px;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
}

/* Paragrapgh for Parallax Section */ 
.paral p {
font-size: 32px;
color: red;
text-align: center;
line-height: 60px;
}

/* Heading for Parallax Section */ 
.paral h1 {
color: orange;
font-size: 60px;
text-align: center;
padding-top: 60px;
line-height: 100px;
}

/* Image for Parallax Section */ 
.paralsec {
background-image: url("/img/1649281003_51-vsegda-pomnim-com-p-more-plyazh-palmi-solntse-foto-58.jpg");
}


/* Remove Bottom Margin from Jumbotron */
.jumbotron{margin-bottom: 0;}
/* Add more images for more sections */


/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}






