body {
  background-color: #222;
  color: #eee;
}

h1 {
  color: #ddd;
}

p {
  font-size: 18px;
}

.accordion-body{
    color: #222;
}

.paralsec {
background-image: url("/img/2587.jpg");
}

/* Paragrapgh for Parallax Section */ 
.paral p {
font-size: 32px;
color: white;
text-align: center;
line-height: 60px;
}
.btn{
    color: #fff;
}
.btn:hover{
    color: #fff;
}